@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 370px;
  height: 250px;
  padding: 10px;
}
input {
  padding: 5px;
  margin: 0 10px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainForm {
  display: flex;
}
button {
  padding: 5px 10px;
}
.mainList {
  overflow: auto;
  height: 100%;
  padding: 20px;
}
.mainList button {
  margin: 0 5px;
}
.mainList > div {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.opc {
  opacity: 0.5;
}